:root {
  --primary-font: 'Roboto', sans-serif;

  --fz-X-small: 12px;
  --fz-small: 13px;
  --fz-medium: 16px;
  --fz-large: 18px;
  --fz-X-large: 20px;
  --fz-XX-large: 22px;
  --fz-XXX-large: 24px;

  --white: #fff;
  --black: #000;
  --gray-light: #fcfcfc;
  --red: #ff0000;
  --purple: #bd00ff;
  --dark-purple: rgba(48, 45, 45, 0.601);
  --gray: #1f1f1f;
  --brown-dark: #302d2d;
  --orange: #ffa500;
  --contrast-gray: #91908f;
  --light-orange: #d7a370;
  --light-blue: #8787d7;

  --brown-dark-opacity: rgba(19, 18, 18, 0.8);

  --black-opacity-80: rgba(0, 0, 0, 0.8);

  --gray-opacity: rgba(0, 0, 0, 0.5);

  --light-gray-opacity: rgba(48, 45, 45, 0.17);
}
