@import '@styles/base/fonts.scss';
@import '@styles/base/typography.scss';
*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  @apply relative w-full h-full m-0 p-0 font-primary-font bg-black text-gray-light;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

body::-webkit-scrollbar {
  @apply bg-dark-purple;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  @apply bg-purple;
  border-radius: 20px;
}

.active {
  @apply text-purple;
}

.wrapper {
  @apply flex flex-col min-h-screen;
}
