.swiper {
  width: 100%;
  height: 100%;

  padding: 0 0px 50px 0px !important;

  .pagination-bullet {
    background: rgb(255, 255, 255);
    opacity: 1;
    width: 10px;
    height: 10px;
  }

  .pagination-bullet-active {
    background: rgb(247, 13, 223);
  }

  .swiper-slide {
    width: auto;
  }

  .scrollbar-horizontal {
    background: rgb(89 90 220 / 40%);

    & div {
      background: rgba(0, 0, 255, 0.4);
    }
  }
}

.pagination-progressbar-fill {
  background: rgb(247, 13, 223) !important;
}
