.swiper {
  width: 100%;
  height: 100%;

  padding: 15px 0px 50px 0px !important;

  @media (max-width: 650px) {
    padding-bottom: 10px !important;
  }

  .pagination-bullet {
    background: rgb(255, 255, 255);
    opacity: 1;
    width: 9px;
    height: 9px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  .pagination-bullet-active {
    background: rgb(247, 13, 223);
  }

  .swiper-slide {
    width: auto;
  }
}
