.card-img {
  @apply m-xs-:h-[180px] m-xs-:w-[115px] object-cover w-full h-[300px] mobileMd:w-[150px] mobileMd:h-auto;
}

.block-card-info {
  @apply mobileMd:pl-5 m-xs-:pl-2 w-full mobileMd:flex mobileMd:flex-col;
}

.card-title {
  @apply mobileMd:text-light-orange m-xs-:text-md m-sm-:text-base mobileMd:whitespace-normal mobileMd:text-lg mobileMd:overflow-visible whitespace-nowrap overflow-hidden text-ellipsis;

  @media (max-width: 640px) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  }
}

.card-desc {
  @apply hidden h-min mt-2 mb-4 m-xs-:hidden m-sm-:text-md m-sm-:text-left mobileMd:text-justify mobileMd:block text-contrast-gray;

  @media (max-width: 640px) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }
}

.card-fold-desc {
  @apply hidden m-sm-:text-md text-contrast-gray;
}

.card-section-score-type-year {
  @apply mobileMd:justify-end justify-between flex mobileMd:flex-col;
}

.card-section-first-span {
  @apply hidden m-sm-:text-md mobileMd:block mb-2;
}
