.progress {
  background-color: #000;
  height: 15px;
  border-radius: 4px;
  width: 100%;
  animation: scale var(--time) forwards;
  transform-origin: left top;
}

.progress::-webkit-progress-bar {
  background-color: #20274b;
  height: 15px;
  border-radius: 4px;
  width: 100%;
}

.progress::-webkit-progress-value {
  background-color: var(--sidebar-gradient-2);
  height: 15px;
  border-radius: 4px;
  --time: 2s;
  animation: scale var(--time) forwards;
  transform-origin: left top;
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    background-color: var(--sidebar-gradient-2);
    transform: scaleX(1);
  }
}
